body{
    /* margin: 0; */
    background: pink; 
    text-align: center;
}

h1{
    color: white;
    text-align: center;
    font-size: 1.2cm;
}

h2{
    text-align: center;
    font-size: .63cm;
}
h3{
    text-align: center;
    font-size: .63cm;
}